body {
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    font-family: 'Oswald', sans-serif;
}

#wrapper {
    padding-top: 10px;
    background: rgb(208,246,255);
    max-width: 1000px;
    margin: 0 auto;
    
}

p, li {
    line-height: 150%;
    color: #444444;
}

h2 {
    margin-top: 0%;
}

.mepic {
    max-width: 100%;
    height: auto;
    border: #000000 solid 1px;
}

/*--------------------HEADER------------------- */
header {
    background-color: rgb(169, 216, 255);
    border: #000000 solid 1px;

}

header h1 {
    text-align: center;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;

  }

/* ----------------------NAV---------------------- */
nav {
    height: auto;
    border: #000000 solid 1px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Oswald', sans-serif;  
}

nav ul {
    list-style-type: none; 
    margin-right: 1px;
    padding: 0px;
    position: relative;
}

nav li {
    display: inline-block; 
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    vertical-align: middle;
}

nav ul, li, a {
    margin-left: 8px;
}


nav a:hover {color: black; border: #000000 solid 1px;}

nav a:link,
nav a:visited {
    color: rgb(0, 0, 0);
}

/* --------------------LOGO------------------- */
.logo {
    max-width: 100%;
    height: auto;
    background-color: #ffffff;
    border: #000000 1px solid;
    margin-bottom: 5px;
  
}

/* ----------------------COL---------------------- */
.container {
    background-color: #ffffff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
    border-left: #000000 solid 1px;
    border-right: #000000 solid 1px;
}

main {
    flex: 1;
    display: flex;
}

.column1 {
    flex: 1.5;
    padding: 15px;
    border: 1px solid #000000;
    margin: 3px;
}

.column2 {
    flex: 2;
    padding: 15px;
    border: 1px solid #000000;
    margin: 3px;
}

.column1 a:link, .column1 a:visited {
    color: rgb(0, 0, 0);
}

/* --------------------Gallery------------------- */
div.gal { 
    overflow: hidden; /* Ensure border doesn't expand due to padding */
    box-sizing: border-box;
    line-height: 0;
}

div.gal:hover {
    border: 2px solid #ff2d2d;
}

div.gal img {
    width: 100%;
    height: auto;
    border: #444444 solid 1px;
    display: block;
}

div.underimgtext {
    padding: 15px;
    text-align: center;
}

/* Global Box Sizing */
* {
    box-sizing: border-box;
}

.res {
    padding: 6px;
    float: left;
    width: 50%; /* Display two images per row */
}

/* Column Styles */
#col2 {
    flex: 1;
    background: rgb(255, 255, 255);
    border-right: #000000 solid 1px;
    border-left: #000000 solid 1px;
    margin-bottom: opx;
    padding: 10px; /* Add padding for spacing inside the column */
}

#col2 ul li {
    padding-bottom: 10px;
}



/* For screens smaller than 600px (phones) */
@media only screen and (max-width: 600px) {
    .res {
        width: 100%; /* Display one image per row on smaller screens */
    }
}



/* ----------------------FOOTER---------------------- */
footer {
    text-align: center;
    background-color: #c6c6c6;
    border: #000000 solid 1px;
    clear: both;
    padding-top: 5px;
    padding-bottom: 10px;
}

footer p {
    color: rgb(0, 0, 0);

    line-height: 20px;
}

footer a:link,
footer a:visited {
    color: rgb(0, 0, 0);
}

#instalogo {
    background-color: #ccc;
}
/* --------------------------------------------------- */













/* -----------------------MEDIA---------------------- */
@media only screen and (max-width: 700px) {
    header h1 {
        font-size: 1.5em; /* Adjust font size for smaller screens */
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav a {
        display: block;
        padding: 10px;
        margin: 5px 0;
    }

    #wrapper {
        padding: 5px; /* Adjust padding for smaller screens */
    }

    #column1 {
        padding: 1em; /* Adjust padding for smaller screens */
    }

    footer {
        height: auto;
        padding-top: 15px;
    }
}

